<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>会員詳細画面</h1>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <tr>
                <th>顧客ID</th>
                <td>
                    <%= @customer.id %>
                    <% if @customer.is_active %>
                    <label class="label label-primary">有効会員</label>
                    <% else %>
                    <label class="label label-danger">退会済み</label>
                    <% end %>
                </td>
            </tr>
            <tr>
                <th>氏名</th>
                <td>
                    <%= @customer.name_last %>
                    <%= @customer.name_first %>
                </td>
            </tr>
            <tr>
                <th>フリガナ</th>
                <td>
                    <%= @customer.name_last_kana %>
                    <%= @customer.name_first_kana %>
                </td>
            </tr>
            <tr>
                <th>郵便番号</th>
                <td>
                    <%= @customer.postal_code %>
                </td>
            </tr>
            <tr>
                <th>住所</th>
                <!-- バリデーション改修後 -->
                <td>
                    <%= @customer.address %>
                </td>
            </tr>
            <tr>
                <th>電話番号</th>
                <!-- バリデーション改修後 -->
                <td>
                    <%= @customer.phone_number %>
                </td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td>
                    <%= @customer.email %>
                </td>
            </tr>
        </table>
    </div>
    <%= link_to "編集する", edit_admins_customer_path(@customer), class: "btn btn-primary" %>
    <!-- リンク先はroutes設定後 -->
    <%= link_to "注文履歴一覧を見る", admins_orders_path, class: "btn btn-primary" %>
</div>