<div class="row">
    <div class="col-md-3">
    </div>
        <div class="col-md-6">
            <h3 class="">プロフィール編集</h3>
            <%= link_to "退会する", customers_exit_path, class: "btn-sm btn-danger" %>
        		<%= form_for(@customer) do |f| %>
        		<table class="table table-striped table-bordered table-hover">
        			<tbody>
                		<tr>
        					<td><%= f.label :氏名 %></td>
            　　　　　　      <td><%= f.text_field :name_last %><%= f.text_field :name_first %></td>
                        </tr>
                        <tr>
        					<td><%= f.label :カナ %></td>
            　　　　　　      <td><%= f.text_field :name_last_kana %><%= f.text_field :name_first_kana %></td>
                        </tr>
            			<tr>
                        	<td><%= f.label :郵便番号 %></td>
            				<td><%= f.text_field :postal_code %></td>
            			</tr>
            			<tr>
                        	<td><%= f.label :住所 %></td>
            				<td><%= f.text_field :address %></td>
            			</tr>
            			<tr>
                        	<td><%= f.label :電話番号 %></td>
            				<td><%= f.text_field :phone_number %></td>
            			</tr>
            			<tr>
                        	<td><%= f.label :メールアドレス %></td>
            				<td><%= f.email_field :email %></td>
            			</tr>
            		</tbody>
        	    </table>
        		<%= f.submit "編集内容を保存する", class: "btn-sm btn-primary" %>
            <% end %>
        </div>
</div>