<div class="container">
    <h3>注文履歴詳細</h3>
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align: center;">
                    <b>注文情報</b>
                </div>
                <table class="table table-bordered table-content">
                    <tr>
                        <th class="info">注文日</th>
                        <td>
                            <%= @order.created_at.strftime('%Y/%m/%d') %>
                        </td>
                    </tr>
                    <tr>
                        <th class="info">配送先</th>
                        <td>
                            <%= @order.postal_code %><br>
                            <%= @order.ship_address %><br>
                            <%= @order.ship_name %>
                        </td>
                    </tr>
                    <tr>
                        <th class="info">支払い方法</th>
                        <td>
                            <%= @order.payment %>
                        </td>
                    </tr>
                    <tr>
                        <th class="info">ステータス</th>
                        <td>
                            <%= @order.order_status %>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align: center;">
                    <b>請求情報</b>
                </div>
                <table class="table table-bordered table-content">
                    <tr>
                        <th class="info">商品合計</th>
                        <td>
                            <% sum = 0 %>
                            <% @order_item.each do |order_item| %>
                            <% sum += order_item.tax_price*order_item.amount %>
                            <% end %>
                            <%= sum %>円
                        </td>
                    </tr>
                    <tr>
                        <th class="info">配送料</th>
                        <td>
                            <%= @order.shipping %>円</td>
                    </tr>
                    <tr>
                        <th class="info">ご請求額</th>
                        <td>
                            <% sum = 0 %>
                            <% @order_item.each do |order_item| %>
                            <% sum += order_item.tax_price*order_item.amount %>
                            <% end %>
                            <%= sum + @order.shipping %>円</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        	<div class="panel panel-primary">
                <div class="panel-heading" style="text-align: center;">
                    <b>注文内容</b>
                </div>
            <table class="table table-bordered table-content">
                <tr  class="info">
                    <th>商品</th>
                    <th>単価（税別）</th>
                    <th>個数</th>
                    <th>小計</th>
                </tr>
                <% @order_item.each do |order_item| %>
                <tr>
                    <td>
                        <%= order_item.item.name %>
                    </td>
                    <td>
                        <%= order_item.tax_price %>円</td>
                    <td>
                        <%= order_item.amount %>
                    </td>
                    <td>
                        <% sum = 0 %>
                        <% sum += order_item.tax_price %>
                        <%= sum * order_item.amount %>円</td>
                </tr>
                <% end %>
            </table>
        </div>
        </div>
    </div>
</div>