<div class="container">
    <%= form_tag(cart_items_confirm_path, method: :post)  do %>
    <div class="row">
        <div class="col-md-6">
            <h2>購入情報入力</h2>
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align: center;">
                    <b>支払い方法</b>
                </div>
                <table class="table">
                    <tr>
                        <label style="padding: 5px 20px;">
                            <%= radio_button_tag :payment, :クレジットカード, {:checked => true}  %>クレジットカード</label><br>
                    </tr>
                    <tr>
                        <label style="padding: 5px 20px;">
                            <%= radio_button_tag :payment, :銀行振込 %>銀行振込</label>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align: center;">
                    <b>お届け先</b>
                </div>
                <table>
                    <tr>
                        <label style="padding: 5px 20px;">
                            <%= radio_button_tag :ship_address, :customer_address, {:checked => true}  %>ご自身の住所</label><br>
                        <div style="padding: 0 0 20px 40px;">
                            <%= current_customer.postal_code %>
                            <%= current_customer.address %><br>
                            <%= current_customer.name_last %>
                            <%=  current_customer.name_first %><br>
                        </div>
                    </tr>
                    <tr>
                        <label style="padding: 5px 20px;">
                            <%= radio_button_tag :ship_address, :registered_address %>登録済み住所から選択</label><br>
                        <div style="padding: 0 0 20px 40px;">
                            <%= select_tag(:ship_nummber, options_for_select(current_customer.addresses.collect {|a|[a.postal_code + " " + a.address + " " + a.name, a.id]}), include_blank: false) %><br>
                        </div>
                    </tr>
                    <tr>
                        <label style="padding: 5px 20px;">
                            <%= radio_button_tag :ship_address, :new_address %>新しいお届け先</label>
                        <div>
                            <div style="padding: 0 0 20px 40px;">
                                <div>郵便番号(ハイフンなし7桁)<br>
                                    <%= text_field_tag :postal_code, "", {size:"30"} %>
                                </div>
                                <div>住所<br>
                                    <%= text_field_tag :address, "", {size:"70"} %>
                                </div>
                                <div>宛名<br>
                                    <%= text_field_tag :name, "", {size:"30"} %>
                                </div>
                            </div>
                        </div>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <%= submit_tag "確認画面へ", class: "btn btn-primary" %>
    <% end %>
</div>
<!-- ラジオボタンの選択によりフォームの有効無効を切り替え -->
<script>
var checkOption = document.getElementsByName('ship_address');
var postalElem = document.getElementById("postal_code");
var addressElem = document.getElementById("address");
var nameElem = document.getElementById("name");
var registerdElem = document.getElementById("ship_nummber");
var radiobuttonRegisterd = document.getElementById("ship_address_registered_address")

postalElem.disabled = true;
addressElem.disabled = true;
nameElem.disabled = true;
registerdElem.disabled = true;

if(registerdElem.value == ""){
radiobuttonRegisterd.disabled = true;
}

checkOption.forEach(function(e) {
    e.addEventListener("click", function() {
        var shipValue = document.querySelector("input:checked[name=ship_address]").value;

        if (shipValue == "customer_address") {
            postalElem.disabled = true;
            addressElem.disabled = true;
            nameElem.disabled = true;
            registerdElem.disabled = true;
        } else if (shipValue == "registered_address") {
            postalElem.disabled = true;
            addressElem.disabled = true;
            nameElem.disabled = true;
            registerdElem.disabled = false;
        } else if (shipValue == "new_address") {
            postalElem.disabled = false;
            addressElem.disabled = false;
            nameElem.disabled = false;
            registerdElem.disabled = true;
        }
    });
});
</script>