<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>配送先登録/一覧</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <%= form_for(@address) do |f| %>
            <table class="table">
                <tr>
                    <td>郵便番号(ハイフンあり7桁)</td>
                    <td>
                        <%= f.text_field :postal_code %>
                    </td>
                </tr>
                <tr>
                    <td>住所</td>
                    <td>
                        <%= f.text_field :address %>
                    </td>
                </tr>
                <tr>
                    <td>宛名</td>
                    <td>
                        <%= f.text_field :name %>
                    </td>
                </tr>
            </table>
            <%= f.submit "登録する", class: "btn btn-primary" %>
            <% end %>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>郵便番号</th>
                    <th>住所</th>
                    <th>宛名</th>
                    <th></th>
                </tr>
                <% @addresses.each do |address| %>
                <tr>
                    <td>
                        <%= address.postal_code %>
                    </td>
                    <td>
                        <%= address.address %>
                    </td>
                    <td>
                        <%= address.name %>
                    </td>
                    <td>
                        <%= link_to "編集する", edit_address_path(address), class: "btn btn-primary"%>
                        <%= link_to "削除する", address_path(address), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
                    </td>
                </tr>
                <% end %>
            </table>
        </div>
    </div>
</div>