<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>配送先登録/一覧</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <%= form_for(@address) do |f| %>
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align: center;">
                    <b>配送先登録</b>
                </div>
                <table class="table table-bordered table-content">
                    <tr>
                        <th class="info">郵便番号(ハイフンあり7桁)</td>
                        <td>
                            <%= f.text_field :postal_code, class: "text-field-lage" %>
                        </td>
                    </tr>
                    <tr>
                        <th class="info">住所</td>
                        <td>
                            <%= f.text_field :address, class: "text-field-lage" %>
                        </td>
                    </tr>
                    <tr>
                        <th class="info">宛名</td>
                        <td>
                            <%= f.text_field :name, class: "text-field-lage" %>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="text-align: right;">
                <%= f.submit "登録する", class: "btn-sm btn-primary" %>
            </div>
            <% end %>
        </div>
    </div>
    <div class="col-md-4"></div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align: center;">
                    <b>配送先一覧</b>
                </div>
                <table class="table table-bordered table-content">
                    <tr class="info">
                        <th>郵便番号</th>
                        <th>住所</th>
                        <th>宛名</th>
                        <th>編集/削除</th>
                    </tr>
                    <% @addresses.each do |address| %>
                    <tr>
                        <td>
                            <%= address.postal_code %>
                        </td>
                        <td>
                            <%= address.address %>
                        </td>
                        <td>
                            <%= address.name %>
                        </td>
                        <td>
                            <%= link_to "編集", edit_address_path(address), class: "btn-sm btn-primary" %>
                            <%= link_to "削除", address_path(address), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn-sm btn-danger" %>
                        </td>
                    </tr>
                    <% end %>
                </table>
            </div>
        </div>
    </div>
</div>