<div class="container" style="padding-top: 30px">
    <div class="row">
        <div class="col-md-2">
            <p>ジャンル検索</p>
            <ul class="list-group">
                <% @genres.each do |genre| %>
                <li class="list-group-item">
                    <%= link_to genre.name, items_genre_path(genre) %>
                </li>
                <% end %>
            </ul>
        </div>
        <div class="col-md-10">
            <p>
                <%= @items.first.genre.name %>
                <%= "（全#{@items_count}件）" %>
            </p>
            <div>
                <% @items.each do |item| %>
                <div style="float: left;">
                    <%= attachment_image_tag item, :image, :fill, 230, 150, format: 'jpeg', fallback: "no_image.jpg", size:'230x150' %>
                    <p>
                        <%= link_to item.name, item_path(item) %>
                    </p>
                    <p>
                        <%= "¥#{((item.non_tax_price).floor).to_s(:delimited)}" %>
                    </p>
                </div>
                <% end %>
                <div style="clear: both;">
                    <%= paginate @items %>
                </div>
            </div>
        </div>
    </div>
</div>