<div class="container" style="padding-top: 30px">
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-primary" style="text-align: center;">
                <div class="panel-heading">
                    <b>ジャンル検索</b>
                </div>
                <ul class="list-group">
                    <% i = 0 %>
                    <% @genres.each do |genre| %>
                    <%= link_to items_genre_path(genre), class: "list-group-item" do %>
                    <%= genre.name %>
                    <span class="badge">
                        <%= @genre_count[i].to_s %></span>
                    <% end %>
                    <% i += 1 %>
                    <% end %>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <ul class="nav nav-pills nav-stacked" style="margin-bottom: 10px;">
                <li role="presentation" class="active" style="text-align: center">
                    <a>
                        <b>
                            <%= @genre.name %></b>
                        <span class="badge">
                            <%= "#{@items_count}件" %></span>
                    </a>
                </li>
            </ul>
            <div>
                <% @items.each do |item| %>
                <div style="float: left; padding: 2px;">
                    <%= link_to item_path(item) do %>
                    <%= attachment_image_tag item, :image, :fill, 230, 150, format: 'jpeg', fallback: "no_image.jpg", size:'230x150' %>
                    <h5 style="text-align: center; padding-top: 20px;">
                        <b>
                            <%= item.name %></b>
                    </h5>
                    <h4 style="text-align: center; padding-bottom: 30px;"><span class="label label-primary">
                            <%= "¥#{((item.non_tax_price).floor).to_s(:delimited)}" %></span>
                    </h4>
                </div>
                <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="text-align: center; clear: both;">
            <%= paginate @items %>
        </div>
    </div>
</div>