<div class="container">
    <div class="row">
        <div class="col-md-2">
            <p>ジャンル検索</p>
            <ul class="list-group">
                <% @genres.each do |genre| %>
                <li class="list-group-item">
                        <%= link_to genre.name, items_genre_path(genre) %>
                </li>
                <% end %>
            </ul>
        </div>
        <div class="col-md-4">
            <%= attachment_image_tag @item, :image, :fill, 300, 200, format: 'jpeg', fallback: "no_image.jpg", size:'300x200' %>
        </div>
        <div class="col-md-6">
            <p>
                <%= @item.name %>
            </p>
            <p>
                <%= @item.introduction %>
            </p>
            <p>
                <%= "¥#{(@item.non_tax_price * 1.1).round}（税込）" %>
            </p>
            <%= form_for @cart_item do |f| %>
              <%= f.hidden_field :item_id, :value => @item.id %>
              <%= f.hidden_field :customer_id, :value => current_customer.id  %>
            <%= f.select :amount, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5], ["6", 6], ["7", 7], ["8", 8], ["9", 9], ["10", 10]] %>
            <%= f.submit "カートに入れる" %>
            <% end %>
        </div>
    </div>
</div>
