<!DOCTYPE html>
<html>

<head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <header class="navbar navbar-default">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">NaganoCake</div>
                </div>
                <div class="collapse navbar-collapse" id="navbarEexample1">
                    <div class="navbar-right">
                        <ul class="nav navbar-nav">
                            <!-- Customerがログインしている時 -->
                            <% if current_customer %>
                            <li class="">
                                <%= link_to "Home", items_path %>
                            </li>
                            <li class="">
                                <%= link_to "#{current_customer.name_last}　#{current_customer.name_first}さん", customer_path(current_customer) %>
                            </li>
                            <li class="">
                                <%= link_to "Cart", cart_items_path %>
                            </li>
                            <li class="">
                                <%= link_to "logout", destroy_customer_session_path, method: :delete %>
                            </li>
                            <!-- Adminがログインしている時 -->
                            <% elsif current_admin %>
                            <li class="">
                                <%= link_to "#{current_admin.name}さん" %>
                            </li>
                            <li class="">
                                <%= link_to "orders_index", admins_orders_path %>
                            </li>
                            <li class="">
                                <%= link_to "logout", destroy_admin_session_path, method: :delete %>
                            </li>
                            <!-- いずれもログインしていない時 -->
                            <% else %>
                            <li class="">
                                <%= link_to "login(Customer)", new_customer_session_path %>
                            </li>
                            <li class="">
                                <%= link_to "Signup", new_customer_registration_path %>
                            </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </nav>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <%= yield %>
        </div>
        <div class="row">
    <footer>
            Copyright ©　Nagano Cake
    </footer>
    </div>
    </div>


</body>

</html>