<!DOCTYPE html>
<html>

<head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/46860f55f1.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="navbar navbar-default">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">
                        <%= link_to "NaganoCake", items_path %></div>
                </div>
                <div class="collapse navbar-collapse" id="navbarEexample1">
                    <div class="navbar-right">
                        <ul class="nav navbar-nav">
                            <!-- Customerがログインしている時 -->
                            <% if current_customer %>
                            <li class="">
                                <%= link_to "Home", items_path %>
                            </li>
                            <li class="">
                                <%= link_to "#{current_customer.name_last}　#{current_customer.name_first}さん", customer_path(current_customer) %>
                            </li>
                            <li class="">
                                <%= link_to "Cart", cart_items_path %>
                            </li>
                            <li class="">
                                <%= link_to "Logout", destroy_customer_session_path, method: :delete %>
                            </li>
                            <li class="">
                                <%= link_to "About", items_about_path %>
                            </li>
                            <!-- Adminがログインしている時 -->
                            <!-- Item検索機能ここから -->
                            <li>
                            <% elsif current_admin %>
                            <%= form_tag(admins_items_path,:method => 'get') do %>
                            <%= text_field_tag :search %>
                            <%= submit_tag "商品検索", :name => nil %>
                            <% end %>
                            </ll>
                            <!-- Item検索機能ここまで -->
                            <!-- Customer検索機能ここから -->
                            <li>
                            <%= form_tag(admins_customers_path,:method => 'get') do %>
                            <%= text_field_tag :search %>
                            <%= submit_tag "顧客検索", :name => nil %>
                            <% end %>
                            </li>
                            <!-- Customer検索機能ここまで -->
                            <li class="">
                                <%= link_to "#{current_admin.name}さん" %>
                            </li>
                            <li class="">
                                <%= link_to "Genres", admins_genres_path %>
                            </li>
                            <li class="">
                                <%= link_to "Customers", admins_customers_path %>
                            </li>
                            <li class="">
                                <%= link_to "Orders", admins_orders_path %>
                            </li>
                            <li class="">
                                <%= link_to "Items", admins_items_path %>
                            </li>
                            <li class="">
                                <%= link_to "logout", destroy_admin_session_path, method: :delete %>
                            </li>
                            <!-- いずれもログインしていない時 -->
                            <% else %>
                            <li class="">
                                <%= link_to "Login", new_customer_session_path %>
                            </li>
                            <li class="">
                                <%= link_to "Signup", new_customer_registration_path %>
                            </li>
                            <li class="">
                                <%= link_to "About", items_about_path %>
                            </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </nav>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <%= yield %>
        </div>
<footer class="page-footer font-small pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-instagram"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href=""> NaganoCake</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
    </div>
    </div>


</body>

</html>