<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header class="navbar navbar-default">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">NaganoCake</div>
          </div>
          <div class="collapse navbar-collapse" id="navbarEexample1">
            <div class="navbar-right">
              <ul class="nav navbar-nav">
                  <li class=""><%= link_to "Home" %></li>
                  <li class=""><%= link_to "Users" %></li>
                  <li class=""><%= link_to "Cart" %></li>

                  <!-- ユーザのSessionによって場合わけ（このままだとSessionがないときにCustomerかAdminかの判断ができない） -->
                  <% if current_admin %>
                  <li class=""><%= link_to "logout", destroy_admin_session_path, method: :delete %></li>
                  <% elsif current_customer %>
                  <li class=""><%= link_to "logout", destroy_customer_session_path, method: :delete %></li>
                  <% elsif %>
                  <li class=""><%= link_to "login(Customer)", new_customer_session_path %></li>
                  <li class=""><%= link_to "login(Admin)", new_admin_session_path %></li>
                  <% end %>

              </ul>
            </div>
          </div>
        </div>
      </div>
      </nav>
    </div>
    </header>
      <%= yield %>
    <footer>
    </footer>
  </body>
</html>
